<launch>
  <param name="robot_description" command="cat $(find mobile_platform)mar_description/urdf/mar_model.xml)" />

  <node name="robot_state_publisher" 
         pkg="robot_state_publisher" 
        type="state_publisher" />

  <node name="state_publisher"
         pkg="mobile_platform"
        type="state_publisher" />

  <node name="manual_move"
         pkg="mobile_platform"
        type="manual_move" />

  <node name="motor_driver_interface"
         pkg="mobile_platform"
        type="motor_driver_interface" />
</launch>
